<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Live chat</title>
</head>
<body>
    <div class="container">
        <h1>Please enter your login credentials</h1>
        <form action="/admins/signin">
            <input type="text" name="email" />
            <input type="password" name="password" />
            <input type="submit" value="submit">
        </form>
    </div>
</body>
</html>