<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Live chat</title>
    <% /* TODO: use cdn for now for socket.io and jquery. Refactor later */ %>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="../../assets/js/global.js"></script>
    <script src="../../assets/js/help.js"></script>
    <link rel="stylesheet" href="../../assets/css/home.css" type="text/css" />

</head>
<body>
    <div class="container">
        <h1>Welcome to the live chat!</h1>
        <p>Please enter your name before entering the chat</p>
        <input type="text" name="name" />
        <div class="chat_box hidden">
            <div class="chat">
                <p>Adrian:</p>
                <p>Hello there</p>
            </div>
            <div class="send_message hidden">
                <input type="text" name="user_message" id="user_message" data-is_processing="0">
                <button class="submit_message_button" id="submit_message_button">Send</button>
            </div>
        </div>
    </div>
</body>
</html>